<!doctype html>
<html>
    <head>
    {% block head %}
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
