{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Absensi Web Report</title>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 0.5em;
}
</style>
{% endblock %}

{% block body %}
{{ super() }}
<table>
    <tr>
        <th>Tanggal</th>
        <th>ID Pegawai</th>
        <th>Nama</th>
        <th>Department</th>
        <th>Jam Masuk</th>
        <th>Jam Keluar</th>
    </tr>
{% for row in data %}
    <tr>
{% if row.masuk is not none %}
        <td>{{ row.masuk.date() }}</td>
{% else %}
        <td>{{ row.keluar.date() }}</td>
{% endif %}
        <td>{{row.id}}</td>
        <td>{{row.nama}}</td>
        <td>{{row.department}}</td>
        <td>{{row.masuk}}</td>
        <td>{{row.keluar}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/backbone.js') }}"></script>
{% endblock %}
