{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Absensi Web Report</title>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
tr.invisible {
    display: none;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 0.5em;
}

th {
    background-color: #6CA9EE;
    color: #ffffff;
}

tr.odd {
    background-color: #E8FF83;
}
</style>
{% endblock %}

{% block body %}
{{ super() }}

<form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
    Absensi MDB File: <input type="file" name="berkas"> <input type="submit" value="upload">
</form>
<form method="get" action="{{ url_for('index') }}">
{% if pegawai is defined %}
    Pegawai: <select name="pegawai" id="pegawai">
                <option value="">Semua</option>
{% for row in pegawai %}
                <option value="{{ row }}">{{ row }}</option>
{% endfor %}
             </select>
{% endif %}

{% if department is defined %}
    Department: <select name="department" id="department">
                    <option value="">Semua</option>
{% for row in department %}
                    <option value="{{ row }}">{{ row }}</option>
{% endfor %}
                </select>
{% endif %}
    Bulan: <select name="bulan" id="bulan">
                <option value="0">Semua</option>
                <option value="1">Januari</option>
                <option value="2">Februari</option>
                <option value="3">Maret</option>
                <option value="4">April</option>
                <option value="5">Mei</option>
                <option value="6">Juni</option>
                <option value="7">Juli</option>
                <option value="8">Agustus</option>
                <option value="9">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">Desember</option>
           </select>
    Tahun: <input type="text" name="tahun" id="tahun" value="{{ tahun }}">
    <input type="button" value="Query" onclick="filterMonthYear( document.getElementById('pegawai').value, 
    document.getElementById('department').value,
    document.getElementById('bulan').value, document.getElementById('tahun').value,
    document.getElementById('absensi'))">
{% if absensi is defined %}
    <input type="button" value="Export to Excel" onclick="exportToExcel(
    {nama: document.getElementById('pegawai').value, bulan: document.getElementById('bulan').value,
        tahun: document.getElementById('tahun').value})">
{% endif %}
</form>

{% if absensi is defined %}
<table id="absensi">
    <tr>
        <th>Tanggal</th>
        <th>ID Pegawai</th>
        <th>Nama</th>
        <th>Department</th>
        <th>Jam Masuk</th>
        <th>Jam Keluar</th>
    </tr>
{% for row in absensi %}
{% if loop.index is divisibleby 2 %}
    <tr class="even">
{% else %}
    <tr class="odd">
{% endif %}
{% if row.masuk is not none %}
        <td>{{ row.masuk.date() }}</td>
{% else %}
        <td>{{ row.keluar.date() }}</td>
{% endif %}
        <td>{{row.id}}</td>
        <td>{{row.nama}}</td>
        <td>{{row.department}}</td>
{% if row.masuk is not none %}
        <td>{{row.masuk.strftime('%T')}}</td>
{% else %}
        <td>{{row.masuk}}</td>
{% endif %}
{% if row.keluar is not none %}
        <td>{{row.keluar.strftime('%T')}}</td>
{% else %}
        <td>{{row.keluar}}</td>
{% endif %}
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backbone.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script type="text/javascript">
AbsensiItem = Backbone.Model.extend({
    initialize: function() {
        this.bind('error', function( model, error ) {
            console.error(error);
        });
    },
    urlRoot: "/absensi",
    defaults: {
        id: "",
        nama: "",
        department: "",
        masuk: null,
        keluar: null
    }
});

Absensi = Backbone.Collection.extend({
    initialize: function() {
    },
    model: AbsensiItem,
    url: "/absensi"
});

function filterMonthYear(nama, department, bulan, tahun, table) {
    bulan = parseInt(bulan);
    tahun = parseInt(tahun);
    rows = table.rows;

    NAMA = 2;
    DEPARTMENT = 3;
    TANGGAL = 0;
    MASUK = 4;
    KELUAR = 5;

    SUMMARY = new Array();
    SUMMARY['kerja'] = 0;
    SUMMARY['masuk'] = 0;
    SUMMARY['keluar'] = 0;

    for (i = 1; i < rows.length ; i++) {
        rows[i].style.display = "table-row";

        tanggal = moment( rows[i].cells[TANGGAL].innerHTML );
        if (bulan != 0) {
            if (tanggal.month() + 1 != bulan || tanggal.year() != tahun) {
                jQuery(rows[i]).css("display", "none");
            }
        }
        if (nama != "") {
            if (nama != rows[i].cells[NAMA].innerHTML) {
                jQuery(rows[i]).css("display", "none");
            }
        }
        if (department != "") {
            if (department != rows[i].cells[DEPARTMENT].innerHTML) {
                jQuery(rows[i]).css("display", "none");
            }
        }

        if (jQuery(rows[i]).css("display") != "none") {
            if (rows[i].cells[MASUK].innerHTML != 'None' &&
                rows[i].cells[KELUAR].innerHTML != 'None')
                SUMMARY['kerja']++;
            else if (rows[i].cells[MASUK].innerHTML != 'None' &&
                     rows[i].cells[KELUAR].innerHTML == 'None')
                SUMMARY['masuk']++;
            else if (rows[i].cells[MASUK].innerHTML == 'None' &&
                     rows[i].cells[KELUAR].innerHTML != 'None')
                SUMMARY['keluar']++;
        }

    }
    rowColor(table);

    summary = document.getElementById('summary');

    if (summary != null)
        document.body.removeChild(summary);

    summary = document.createElement('div');
    summary.setAttribute('id', 'summary');
    kerja = document.createElement('p');
    kerja.innerHTML = 'Jumlah hari kerja: ' + SUMMARY['kerja'] + ' hari';
    masuk = document.createElement('p');
    masuk.innerHTML = 'Jumlah hari dengan jam masuk tanpa jam pulang: ' + 
        SUMMARY['masuk'] + ' hari';
    keluar = document.createElement('p');
    keluar.innerHTML = 'Jumlah hari dengan jam pulang tanpa jam masuk: ' + 
        SUMMARY['keluar'] + ' hari';
    total = document.createElement('p');
    total.innerHTML = 'Total Hari: ' + (SUMMARY['kerja'] + SUMMARY['masuk'] +
        SUMMARY['keluar']) + ' hari';
    summary.appendChild(kerja);
    summary.appendChild(masuk);
    summary.appendChild(keluar);
    summary.appendChild(total);
    document.body.appendChild(summary);
}

function rowColor(table) {
    odd = true;
    rows = table.rows;
    for (i = 1; i < rows.length; i++) {
        row = jQuery(rows[i]);
        if (row.css('display') == 'none' || 
            row.css('display') == '')
            continue;

        if (odd) {
            jQuery(rows[i]).removeClass('even');
            jQuery(rows[i]).addClass('odd');
        } else {
            jQuery(rows[i]).removeClass('odd');
            jQuery(rows[i]).addClass('even');
        }
        odd = ! odd;
    }
}

function exportToExcel(label) {
    window.location = 'xhr/excel?nama=' + label.nama + '&bulan=' + label.bulan +
        '&tahun=' + label.tahun;
}
</script>
{% endblock %}
